<div class="newsletter header--custom-text">
  <div id="mc_embed_signup newsletterContainer">

    <h3>¡Suscribite al Newsletter!</h3>
    <form action="https://saxs.us14.list-manage.com/subscribe/post?u=a275f7569acc870e923cfb6e5&amp;id=37c5601006"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate formulario"
      target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="formInput">
          <input required type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
            placeholder="Dirección de e-mail">
          <i class="fas fa-envelope"></i>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div class="formulario-enviar">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
              name="b_a275f7569acc870e923cfb6e5_37c5601006" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="ENVIAR" name="subscribe" id="mc-embedded-subscribe"
              class="button"></div>
        </div>
      </div>
    </form>
  </div>
</div>



<div class="contenedor-video">
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/modujeb9seA" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <div class="background">
    <div class="info-video">
      <p>¡Mirá el video y conocenos un poco mas!</p>
    </div>
  </div>
</div>

<div class="fashion-nav-footer-contact">
  <div class="fashion-nav-footer-contact__content footer--custom-background">
    <div class="nav-bounds nav-bounds--contact">
      <div class="fashion-nav-footer__brand-col header--custom-text">
        {{#if logo}}
        <a class="nav-fashion-header__logo" href="/" id="logo-wrapper">
          <span class="nav-header__title-hidden">{{name}}</span>
          <img class="nav-header__image logo-footer"
            src="https://d3ugyf2ht6aenh.cloudfront.net/stores/001/007/659/themes/common/logo-214954226-1560440516-60369c9be1db4823fb41fafccbee49b31560440516-480-0.png?0"
            alt="saxs_logo_footer" itemprop="logo" />
        </a>
        {{else}}
        <h3 class="nav-footer-contact-title header--custom-text">
          <a href="/">{{name}}</a>
        </h3>
        {{/if}}
        {{#if logoCaption}}
        <p class="fashion-nav-footer__logo-caption medios-de-pago">{{{logoCaption}}}</p>
        <img src="https://lunnar.com.br/casa/png/formas/mercado-pago.png" alt="mercadopago.png">
        <img src="https://i.postimg.cc/HLJJqM7X/tarjetas-act.png" alt="tarjetas.png">
        {{/if}}
        <div class="fashion-nav-footer__social-media--responsive redes-sociales-movil">
          <a href="https://ar.pinterest.com/saxsarg" class="header--custom-svg pinterest">
            <i class="fab fa-pinterest"></i>
          </a>
          <a href="https://www.facebook.com/saxs.arg" class="header--custom-svg facebook">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://www.instagram.com/saxs.arg" class="header--custom-svg instagram">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>

      <div class="fashion-nav-footer__categories-col header--custom-border categorias">
        <div>
          {{!-- <p class="header--custom-text categorias-titulo">Categorías</p> --}}

          <span class="fashion-nav-footer__category">
            <a href="/" class="header--custom-text categorias-texto">
              Inicio
            </a>
          </span>

          <span class="fashion-nav-footer__category">
            <a href="/nuestros-productos" class="header--custom-text categorias-texto">
              Shop Online
            </a>
          </span>

          <span class="fashion-nav-footer__category">
            <a href="/sinteticos" class="header--custom-text categorias-texto">
              Sintéticos
            </a>
          </span>

          <span class="fashion-nav-footer__category">
            <a href="/bio" class="header--custom-text categorias-texto">
              BIO
            </a>
          </span>

          <span class="fashion-nav-footer__category">
            <a href="/telas-de-moda" class="header--custom-text categorias-texto">
              Telas de moda
            </a>
          </span>

          <span class="fashion-nav-footer__category">
            <a href="/fantasias" class="header--custom-text categorias-texto">
              Fantasías
            </a>
          </span>

          <span class="fashion-nav-footer__category">
            <a href="/forreria" class="header--custom-text categorias-texto">
              Forrerías
            </a>
          </span>
        </div>

        <div>
          <span class="fashion-nav-footer__category">
            <a href="/refuerzos" class="header--custom-text categorias-texto">
              Refuerzos
            </a>
          </span>

          <span class="fashion-nav-footer__category">
            <a href="/accesorios" class="header--custom-text categorias-texto">
              Accesorios
            </a>
          </span>

          <span class="fashion-nav-footer__category">
            <a href="/medio-metro" class="header--custom-text categorias-texto">
              Retazos
            </a>
          </span>

          <span class="fashion-nav-footer__category">
            <a href="/por-mayor" class="header--custom-text categorias-texto">
              Ventas por Mayor
            </a>
          </span>

          <span class="fashion-nav-footer__category">
            <a href="https://www.saxs.com.ar/_Envio_Full"
              class="header--custom-text categorias-texto">
              Full
            </a>
          </span>

          <span class="fashion-nav-footer__category">
            <a href="/servicios" class="header--custom-text categorias-texto">
              Servicios
            </a>
          </span>

          <span class="fashion-nav-footer__category">
            <a href="/p/contacto" class="header--custom-text categorias-texto">
              Contacto
            </a>
          </span>
        </div>
      </div>

      <div class="fashion-nav-footer__contact-col">
        <div class="contenedor-redes-sociales">
          <p class="header--custom-text">Seguinos en</p>
          <div class="fashion-nav-footer__social-media redes-sociales">
            <a target="_blank" href="https://www.facebook.com/saxs.arg" class="header--custom-svg facebook">
              <i class="fab fa-facebook"></i>
            </a>
            <a target="_blank" href="https://www.instagram.com/saxs.arg" class="header--custom-svg instagram">
              <i class="fab fa-instagram"></i>
            </a>
            <a target="_blank" href="https://ar.pinterest.com/saxsarg" class="header--custom-svg pinterest">
              <i class="fab fa-pinterest"></i>
            </a>
          </div>
        </div>
        {{#if showContact}}
        <ul class="fashion-nav-footer__contact header--custom-border">
          <p class="header--custom-text contactanos">Contactanos</p>
          {{#if showPhone}}
          <li class="contact-phone-number">
            <a class="header--custom-text" itemprop="telephone" href="tel:{{phone.raw}}" rel="nofollow">Tel:
              {{phone.formatted}}</a>
          </li>
          {{/if}}
          {{#if showEmail}}
          <li class="contact-mail">
            <a class="header--custom-text" itemprop="email" href="mailto:{{email}}" rel="nofollow">{{email}}</a>
          </li>
          {{/if}}
          {{#if address}}
          {{#with address}}
          <li>
            <a class="header--custom-text" itemprop="streetAddress">TOMÁS JUSTO VILLEGAS 426,</a>
            <a class="header--custom-text" itemprop="addressLocality">LOMAS DEL MIRADOR</a>
          </li>
          {{/with}}
          {{/if}}
          <meta itemprop="contactType" content="customer service" />
        </ul>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<footer role="contentinfo" class="fashion-nav-footer nav-footer header--custom-text footer--custom-background-alt">
  <div class="nav-bounds nav-bounds--copyright">
    <div class="nav-footer-primaryinfo">
      <small class="nav-footer-copyright">
        <div class="nav-footer-disclaimer">
          <div>
            <div class="nav-footer-about">
              <a href="{{{linkToMShopsLandingPage}}}" target="_blank"
                class="header--custom-text">{{i18n.powered_by}}</a>
              {{#if linkToLegalNotices}}
              <a href="{{linkToLegalNotices.href}}" class="header--custom-text">{{linkToLegalNotices.label}}</a>
              {{/if}}
              {{#if linkToLGPD}}
              <a href="{{linkToLGPD.href}}" class="header--custom-text">{{linkToLGPD.label}}</a>
              {{/if}}
            </div>
            {{#if showBusinessData}}
            {{#with fiscalData}}
            <div class="nav-footer-fiscal-data">
              <p class="nav-footer-fiscal-data__name">{{legal_name}}</p>
              <p class="nav-footer-fiscal-data__id">{{legal_doc}}</p>
            </div>
            {{/with}}
            {{/if}}
          </div>
          {{#if showQrData}}
          {{#with fiscalData}}
          <a href={{qr_link}} target="_F960AFIPInfo">
            <img class="nav-footer-afip-img" src={{qr_img}} alt="Data fiscal" />
          </a>
          {{/with}}
          {{/if}}
        </div>
      </small>
    </div>
  </div>
</footer>
<script type="text/javascript">
  (function () { var ldk = document.createElement('script'); ldk.type = 'text/javascript'; ldk.async = true; ldk.src = 'https://s.cliengo.com/weboptimizer/5d41e9cae4b0b2ae3dae2a21/6115bfd5cfcea1002af68df6.js?platform=view_installation_code'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ldk, s); })();
</script>
<script>
  (function () { var div = null; var id = setInterval(function () { div = document.getElementById("clgo"); if (div) { div.parentNode.removeChild(div); clearInterval(id); } }, 1000); })() 
</script>